@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5c310;
    overflow: hidden;
    text-align: center;
    height: 100vh;
}

.game {
    display: flex;
    flex: 1 0 33.33;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 70px 0px;
    

}

/* The field, home of the mole */

.field {
background-image: url(./img/moes.png);
 margin-bottom: 50px;
 height: 150px;
 width: 350px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
 z-index: 2; 

}

.field::after {    /* move field img infront of homer*/
    z-index: 2;
}

/* The mole, in this case is homer */

.homer {
    background-image: url(./img/homer.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;


}

.up  .homer{
    top: 0%;
  }

#startGame {
    font-size: 2rem;
    text-align: center;
    align-content: center;
}

h1 {
    font-family: 'Bubblegum', cursive;
    font-size: 3rem;
}

/* progress bar is hidden until the game starts. */

#progressBar {
    display: none;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.gameOver {
    display: block;
}
